{% extends 'base.html.twig' %}

{% block title %}Modification {{ parent() }}{% endblock %}
{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-8 offset-2">
                <h2 class="display-5 my-3">Modifier l'oeuvre</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}